html {
    background-color: whitesmoke;

    h1 {
        color: black;
    }
    h2 {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h3 {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p {
        color: grey;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        font-size: larger;
    }
    ul {
        list-style: none;
    }
}

body {
    background-color: rgb(255, 255, 255, 0.99);
}
.background {
    /* The image used */
    background-image: url("images/Adnan-Cigar.jpg");

  /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);

  /* Full height */
    height: 100%;
    min-height: 500px;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 5;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}    
.contentRow {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 300px;
    position: absolute;
    z-index: 6;
}
.contentItem {
    display: flex;
    width: 96%;
    margin: 1%;
    background-color: rgba(43, 43, 43, 0.15);
    padding: 1%;
    border-radius: 15px;

    position: absolute;
    z-index: 1;
}
.info {
    color: white;
}
.infoTitle {
    color: white;
}
.blueLine {
    height: 5px;
    background-color: rgb(0, 0, 63);
}
.description {
    width: 50%;
}