html {
    background-color: whitesmoke;

    h1 {
        color: black;
    }
    h2 {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h3 {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p {
        color: grey;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        font-size: larger;
    }
    ul {
        list-style: none;
    }
}

body {
    background-color: rgb(255, 255, 255);
    z-index: 4;
}
.background {
    /* The image used */
    background-image: url("images/Adnan-Concert.jpg");

  /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);

  /* Full height */
    height: 100%;
    min-height: 500px;
    max-height: 500px;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 5;

    margin-left: auto;
    margin-right: 25px;
    margin-left: 1%;
}
.content {
    display: flex;
    width: 100%;
    height: 550px;
}
.containshit {
    display: flex;
    width: 100%;
    position: absolute;

    flex-direction: row-reverse;
    z-index: 6;
}
.textInfo {
    width: 100%;
}
.description {
    width: 80%;
    margin-left: 2%;
    color: rgb(35, 35, 35);
    background-color: rgba(220, 220, 220, 0.457);
    padding: 2%;
    border-radius: 25px;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5%;
}

.entryHead {
    color: black;
    margin: 1.5%;
}
.entrySub {
    margin: 1%;
}

.containColumn {
    width: 33%;
    justify-content: center;

}

.entryItem {
    background-color: rgba(95, 95, 95, 0.847);
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
    height: 80px;
    width: 95%;

    margin-top: 1%;
}
.entryImg {
    height: 100%;
    display: flex;
    margin-right: auto;
}
.song_title {
    margin-right: auto;
}
.keepRight {
    margin-left: auto;
    margin-right: 2%;
}

.container {
    display: flexbox;
    width: 98%;
    flex-direction: column;
    margin-top: 4%;

    justify-content: center;
    align-items: center;
}
.feature_vid {
    width: 90%;

    height: 90%;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 10%;

}
.contentRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.link_img {
    display: flex;
    width: 30%;
    height: fit-content;
    justify-content: center;
    margin-left: 35%;
    border-radius: 15px;
}
.linkItem {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    margin: 0.5%;
    padding: 8px;
    background-color: rgba(86, 86, 86, 0.5);
    border-radius: 20px;
    
}
.intro {
    color: white;
    margin: 5%;
    
}
.info {
    margin: 1%;
    border-radius: 15px;
    font-size: medium;
    padding: 1%;
    color: rgb(225, 225, 225);   
    width: 100%;  
}
.infoLeft {
    display: flex;
    flex-direction: column;
    
}
.contentImg {
    width: 30px;
    margin-left: auto;
    border-radius: 15px;
    object-fit: contain;
    margin-bottom: auto;
}