html {
    background-color: whitesmoke;

    h1 {
        color: black;
    }
    h2 {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h3 {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p {
        color: grey;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        font-size: larger;
    }
    ul {
        list-style: none;
    }
}

body {
    background-color: rgb(255, 255, 255);
    z-index: 4;
}
.background {
    /* The image used */
    background-image: url("images/Adnan-Concert.jpg");

  /* Add the blur effect */
    filter: blur(10px);
    -webkit-filter: blur(10px);

  /* Full height */
    height: 100%;
    min-height: 1200px;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 5;

    margin-left: auto;
    margin-right: 25px;
}
.content {
    display: flex;
    width: 100%;
}
.containshit {
    display: flex;
    width: 100%;
    position: absolute;

    flex-direction: row-reverse;
    z-index: 6;
}

.contentRow {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;

}
.linkItem {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    margin: 2%;
    padding: 5px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 40px;

}
.info {
    margin: 1%;
    border-radius: 15px;
    font-size: xx-large;
    padding: 1%;
    color: rgb(225, 225, 225);   
    width: 100%;  
}
.infoLeft {
    display: flex;
    flex-direction: column;
    
}

.contentImg {
    width: 30%;
    margin-left: auto;
    border-radius: 15px;
    object-fit: contain;
    margin-bottom: auto;
}